body{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    margin: 0;
}
.header{
    color:yellowgreen ;
    background-size: 100%;
    background-image: url(donate-today-main/images/donation2.jpg);
    background-repeat: no-repeat;
    background-position: ;
    text-align: center;
    padding: 100px 300px;
}
.donate{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.donate-money{
    
    text-align: center;
    
}
.first-money{
    display: flex;
    padding-left: 20px 30px;
    margin-left: 20px;
    border-radius: 10px;
}
.donate-catagory{
    margin: 20px;
    padding: 25%;
    border-radius: 10px;
}
.money{
    background-color: gainsboro;
    padding: 65px;
    margin: 2% 10% 2% 0;
    border-radius: 5px;
}
#moneyed{
    border: 2px solid red;
}
.input{
    border-top: 5px;
}

.add{
    text-decoration: none;
    background-image:red;
    border-radius: 5%;
    padding: 10px 10px;
    color: black;
    font-weight: 700;
    text-align: center;
}

.donation-system{
    display: ;
    font-size: smaller;
    text-align: center;
    width: 80;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 30px;
}
.ser1 div {
    width: 22%;
    float: left;
    padding: 5%;
    margin: 0 auto;   
}
#food{
    background-color: antiquewhite;
}
#shelter{
    background-color: aquamarine;
}
#education{
    background-color: #8293ff;
}
.ser1 div:hover{
    background-color: #8293ff;
}

.our-donate{
    text-align: center;
    margin-top: 30px;
    padding-top: 400px;
}
.file{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 100px;
    
}
.button{
    padding-top: 100px;
    padding-bottom: 90px;
}
#email{
    background-color: rgb(200, 197, 192);
    padding: 5px 150px 5px 10px;
    border-radius: 2px;
}
#subscribe{
    background-color: red;
    padding: 5px 10px;
    border-radius: 5px;
}
.footer{
    text-align: center;
    background-color:black;
    padding: 15px;
    border-radius: 10px;
}
.footer h2{
    color: firebrick;
    font-style: italic;
    font: size 900px;;
}
.footer p{
    color: white;
}